
#navbar {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    border: 0px;
}

#form_newsletter {
    width: 290px;
}

#mobile_nav {
    display: None;
}

#articles_jquery_button { display: None;}


#appear_disappear {
    display: None;


